/* styles.css */

:root {
	--deep-mocha: #483d3f;
	--blue-bell: #058ed9;
	--eggshell: #f4ebd9; 
	--grey-olive: #839892; 
	--ash-brown: #77685d; 

}

body{
	font-family: "Tinos", serif; 
	background-color: var(--eggshell); 
	font-weight: 400px; 
	font-size: 1.2em; 
	padding-top:25px; 

}

h1{
	font-family: "Manufacturing Consent", system-ui;
	color: var(--deep-mocha);
	font-size: 4em;
	border-top: 2px dashed var(--deep-mocha);  
	border-bottom: 2px dashed var(--deep-mocha); 

}

.dateline {
	font-size: 1.6em; 
	margin-bottom: 30px; 
}